﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p class="lead">Reportes Work By Cloud</p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Order Summary</h2>
        <p><a class="btn btn-default" href='@Url.Action("Index","OrderSummary")'>Ir a Reporte</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order Detail</h2>
        <p><a class="btn btn-default" href='@Url.Action("Index","OrderDetail")'>Ir a reporte</a></p>
    </div>*@

    <div class="col-md-4">
        <h2>Viajes</h2>
        <p><a class="btn btn-default" href='@Url.Action("Index","Viajes")'>Ir a reporte</a></p>
    </div>
</div>