﻿
@{
    ViewBag.Title = "Reporte Order Summary";
}

    <h2>Reporte Order Summary</h2>
<div class="row">
    <div class="col-lg-3">
        <form>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Cedis</label>
                <select class="form-control" id="controlselect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Usuario</label>
                <select class="form-control" id="controlselect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Fecha inicial</label>
                <div class='input-group date' id='datetimepickerini'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Fecha final</label>
                <div class='input-group date' id='datetimepickerfin'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
                
                <div class="form-group col-lg-3">
                    <br />
                    <button class="btn btn-primary" type="button" id="btnConsultar">Consultar</button>
                </div>
        </form>
    </div>
    <div class="col-lg-9">
        @*<p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </p>*@
        <div class="table-responsive">
            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                <thead>
                    <tr>
                        <th>Punto Venta</th>
                        <th>Cedis</th>
                        <th>Viajes</th>
                        <th>Viajes iniciados</th>
                        <th>Viajes terminados</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        var branchpath = '@Url.Action("GetRepDT","OrderSummary")';
    </script>
    <script src="~/Scripts/OrderSummary/OrderSumHandler.js"></script>
    }